body {
    margin: auto;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header*/

header {
    height: fit-content;
    padding: 0px 20px;
    padding-top: 10px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgb(57, 57, 57);
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

header h2 {
    padding-left: 10px;
    font-size: 34px;
}

header img {
    height: 34px;
}

form {
    justify-content: center;
}

form input[type=text] {
    width: 280px;
    padding-left: 11px;
    color: white;
    background-color: rgb(16, 16, 16);
    border: 1px solid rgb(57, 57, 57);
    border-radius: 5px;
    height: 28px;
    font-size: 13px;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}


/*List of Movies*/

h3 {
    font-size: 25px;
    padding-left: 10px;
}

.movieslist {
    padding: 10px 20px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.movies-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.movies-area img {
    width: 200px;
    border-radius: 6px;
}


.rating {
    color:darkgray;
    text-align: left;
    font-size: 15px;
}

.movie-title {
    max-width: 200px;
    text-align: center;
    font-size: 17px;
}


@media screen and (max-width: 1400px) {
    .movies-area {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .movies-area img {
        width: 220px;
        border-radius: 6px;
    }
}

@media screen and (max-width: 1200px) {
    .movies-area {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .movies-area img {
        width: 180px;
    }
}

@media screen and (max-width: 810px) {
    .movies-area {
        grid-template-columns: 1fr 1fr;
    }
    .movies-area img {
        width: 210px;
    }
}

@media screen and (max-width: 600px) {
    .movies-area img {
        width: 180px;
    }
}

@media screen and (max-width: 500px) {
    .movies-area {
        grid-template-columns: 1fr;
    }
    .movies-area img {
        width: 210px;
    }
    header input[type=text] {
        padding-left: 10px;
        width: 220px;
    }
}

.hidden {
    display: none;
}

/*More Button*/

.more {
    text-align: center;
}

.more button {
    margin-bottom: 50px;
}

button {
    color: white;
    background-color: rgb(16, 16, 16);
    border: 1px solid rgb(57, 57, 57);
    border-radius: 5px;
    padding: 7.5px 15px;
    font-size: 13px;
}

button:hover {
    cursor: pointer;
    border: 1px solid rgb(125, 125, 125);
}